<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Failure</title>
  <style>
    *{
        text-decoration: none;
        list-style: none;
        margin: 0;
        padding: 0;
        }
    
   html{
    height: 100%;
   }
   body{
    margin: 0;
    padding: 0;
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    margin-top: 23%;
   }
   h1{
    text-align: center;
    color: #333333;
   }
   p{
    text-align: center;
    color: #000000;
    font-size: 20px;
   }
   a{
    color: #000000;
    text-transform: capitalize;
    text-decoration: underline;
   }
  </style>
</head>
<body>
  <h1>Login Failed !</h1><br><br>
  <p>Invalid email or password. Please Try Again. <a href="/login">click here to go back to login page</a></p>
</body>
</html>
